<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5>Graph Tab Selection - {{ activeTab }}</h5>
        <div class="row">
          <div class="col-12">
            <ul
              ngbNav
              #nav="ngbNav"
              [(activeId)]="active"
              class="nav-tabs"
              (activeIdChange)="activeIdChange($event)"
            >
              <li [ngbNavItem]="1">
                <button ngbNavLink>Graphing Calculator</button>
                <ng-template ngbNavContent>
                  <div class="tab-pane container active" id="basicDiv">
                    Graphing Calculator
                    <div class="row">
                      <div
                        #desmosContainer
                        class="col-sm"
                        style="width: 600px; height: 400px"
                      ></div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <button ngbNavLink>Four Function Calculator</button>
                <ng-template ngbNavContent>
                  <div class="tab-pane container active" id="projectDiv">
                    Four Function Calculator
                    <div class="row pt-2">
                      <div
                        #fourfunctioncalculator
                        style="width: 600px; height: 400px"
                        class="col-sm"
                      ></div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="3">
                <button ngbNavLink>Scientific Calculator</button>
                <ng-template ngbNavContent>
                  <div class="tab-pane container active" id="familyDiv">
                    Scientific Calculator
                    <div class="row pt-2">
                      <div class="col-12">
                        <div
                          #scientificcalculator
                          style="width: 600px; height: 400px"
                          class="col-sm"
                        ></div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>

            <div class="row">
              <button
                type="button"
                class="btn btn-primary btn-sm mt-1"
                (click)="OnSave()"
              >
                Save
              </button>
            </div>
            <!-- <pre>Active: {{ active }}</pre> -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Expressions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of dispplayRes">
                  <td>
                    {{ row.latex }}
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link" [ngClass]="activeTab == 'Basic' ?'active':''" id="basic" (click)="initializeCalculator()"  >Basic Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="project" [ngClass]="activeTab == 'Project' ?'active':''"  (click)="setFourFunctionCalculatorTab()"  >Project Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " [ngClass]="activeTab == 'Family' ?'active':''" id="family" (click)="setScientificCalculatorTab()"  >Family Details</a>
                            </li>
                        </ul> 
                        <div class="tab-content">
                            <div class="tab-pane container active"   id="basicDiv">
                                Basic Details
                                <div class="row">
                                    <div
                                      #desmosContainer
                                      class="col-sm"
                                      style="width: 600px; height: 400px"
                                    ></div>
                                  </div>
                            </div>
                            <div class="tab-pane container active"    id="projectDiv">
                                prod Details
                                <div class="row pt-2">
                                    <div
                                      #fourfunctioncalculator
                                      style="width: 600px; height: 400px"
                                      class="col-sm"
                                    ></div>

                                  </div>
                            </div>
                            <div class="tab-pane container active"    id="familyDiv">
                                fam Details
                                <div class="row pt-2">
                                    <div class="col-12">
                                    <div
                                      #scientificcalculator
                                      style="width: 600px; height: 400px"
                                      class="col-sm"
                                    ></div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
